@model IEnumerable<NodeApplication.Models.Node>

@{
    ViewData["Title"] = "Index";
}

<div style="text-align: center; color: red;">
    <h1>Index</h1>
</div>


<p>
    <a asp-action="IsActive">Active Node List</a>
</p>
<br/>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NodeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentNodeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NodeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentNodeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NodeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NodeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NodeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
